* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(120deg, #0f2027, #203a43, #2c5364);
    margin: 0;
    padding: 0;
    color: white;
}

.app {
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

h1, h2 {
    text-align: center;
}

form {
    background: rgba(255,255,255,0.1);
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    border: none;
    margin-top: 5px;
}

button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background: #2b7a78;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #3aafa9;
}

#listaCapturas {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.captura {
    background: rgba(255,255,255,0.1);
    padding: 15px;
    border-radius: 12px;
}

.foto-captura {
    width: 100%; 
    height: auto;
    max-height: none;
    object-fit: contain;
    border-radius: 10px;
    margin-top: 10px;
    border: 2px solid #2b7a78;
    background: #000; 
}
.btn-borrar {
    margin-top: 10px;
    background: #c0392b;
    border: none;
    padding: 8px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    width: 100%;
}
.btn-borrar:hover {
    background: #e74c3c;
}





